<!DOCTYPE html>
<html>
<head>
  <title>Quello</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <% if logged_in? %>
      <li>
        <%= button_to "Log out", session_url, {method: :delete, class: "nav navbar-nav"} %>
      </li>
    <% else %>
      <li><%= link_to "Sign up", new_user_url %></li>
      <li><%= link_to "Sign in", new_session_url %></li>
    <% end %>
  </ul>
  <div class="navbar-header">
    <a href="" class="navbar-brand">Quello</a>
  </div>
</nav>

<% if flash[:errors] %>
  <ul>
    <%= flash[:errors].map { |e| "<li>#{e}</li>" }.join.html_safe %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
